BASE_DIR=/apps/graylog


GRAYLOG_PASSWORD_SECRET=<secret string>                # you can use `openssl rand -base64 32` to generate a random secret string
GRAYLOG_ROOT_PASSWORD_SHA2=<password_hash>             # compute SHA256 admin password hash
GRAYLOG_HTTP_EXTERNAL_URI=https://graylog.example.com/ # must end with `/`